/* ------------------------------------ GENERAL */

body {
    /* font-family: "Mina", sans-serif; */
    font-family: 'Fredericka the Great', cursive;
	font-size: 17px;
}

div.container {
	width: 85%;
	margin: 25px auto;
}

div.burgerblock {
	margin: 10px auto;
	padding: 5px 10px 0px 10px;
	background-color: #f3efe3;
    border-radius: 15px;
    border-style: dotted;
    border-width: 2px;
    box-shadow: inset 2px 2px 5px black;
}

/* ------------------------------------ MISCELLANEOUS */

input.form-control {
	display: inline-block;
	width: 75%;
	margin: 10px auto auto auto;
    font-size: 16px;
    background-color: #f3efe3;
    box-shadow: inset 2px 2px 5px black;
}

button {
	display: inline-block;
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 25px;
	padding: 5px 10px;
	font-size: 17px;
	border: none;
	border-radius: 5px;
}

/* ------------------------------------ IMAGES */

img.icon {
	margin: 10px auto;
}

img.tinyicon {
	display: inline-block;
	margin-bottom: 10px;
	margin-right: -10px;
	padding: 10px;
	height: 50px;
}

img.burgericon {
	margin-bottom: 15px;
}

img.eaten {
	filter: grayscale(100%);
}

/* ------------------------------------ HEADERS AND TEXT */

h1 {
	font-size: 75px;
}

h1#left, h1#right {
	font-size: 40px;
}

h2 {
	display: inline-block;
	margin-left: 15px;
	font-size: 16px;
}

h3 {
	display: inline-block;
	margin-left: 15px;
	font-size: 26px;
}

p.instructions {
	margin-top: 25px;
}

p.footer {
	margin-top: 25px;
	font-size: 20px;
	text-transform: uppercase;
}